{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}
{% trans_default_domain "victoire" %}
{% block content %}
    <form method="GET" action="{{content.action}}" {% if content.ajax %}data-toggle="ajax" class="ajax" update="widget-{{widget.listing.id}}-container"{% endif %} >
    {% for filter in widget.filters %}
        {{form_widget(attribute(content.filterForm, filter))}}
    {% endfor %}
    {{form_rest(content.filterForm)}}
    <input type="submit" value="{{ 'ok'|trans|desc('Ok') }}" />
    </form>
{% endblock content %}
