{% block body %}

{#
   _   _   _   _   _   _   _
  / \ / \ / \ / \ / \ / \ / \
 ( C ) o ) m ) m ) o ) n ) s )
  \_/ \_/ \_/ \_/ \_/ \_/ \_/

#}

<div class="widget" id="widget-{{widget.id}}">
{% block actions %}{{cms_widget_actions(widget)}}{% endblock actions %}

{% block content %}
    <form method="GET" action="{{action}}" {% if ajax %}class="ajax" update="widget-{{widget.list.id}}-container"{% endif %} >
    {% for filter in widget.filters %}
        {{form_widget(attribute(filterForm, filter))}}
    {% endfor %}
    {{form_rest(filterForm)}}
    <input type="submit" value="{{ 'ok'|trans|desc('Ok') }}" />
    </form>
{% endblock content %}
</div>

{% endblock body %}
